@font-face {
    font-family: 'muli';
    src: url('../fonts/7Auwp_0qiz-afTLGLQ.woff2');
}

:root {
    /* Цвета */
    --background: #e0e0e0;
    --background-task: #e0e0e0;

    --foreground: #253449;

    /* Шрифты */
    --font-size: 22px;
    --font-size-i: 25px;
    --font-family-0: muli, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-0);
}

html {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--font-size);
    overflow-x: none;
    height: 100vh;
    padding-bottom: 10%;
}

h2 {
    margin-top: 30px;
}

input.neu {
    font-size: 22px;
    color: val(--foreground);

    padding: 10px;

    outline: none;
    overflow: hidden;

    border-color: white;
    border-width: 0;
    border-radius: 20px;
    background: #ebebeb;
    box-shadow: inset 5px 5px 10px #cacaca,
        inset -5px -5px 10px #ffffff;
}

button {
    font-size: calc(var(--font-size) - 4px);
}

div.neu {
    padding: 2% 3%;
}

div.neu:hover {
    /* box-shadow: 25px 25px 44px #cacaca,
        -25px -25px 44px #ffffff; */
    box-shadow: 2px 2px 4px #cacaca,
        -2px -2px 4px #ffffff;
}

button.neu {
    border-width: 0;
    cursor: pointer;
    box-shadow: 5px 5px 7px #cacaca,
        -5px -5px 7px #ffffff;
}

button.neu:hover {
    box-shadow: 3.5px 3.5px 10px #cacaca,
        -3.5px -3.5px 10px #ffffff;
}

button.neu:active {
    background: #ebebeb;
    box-shadow: inset 5px 5px 10px #cacaca,
        inset -5px -5px 10px #ffffff;
}


/* Идентификация по id */

#input-field {
    margin: 0;
    text-align: center;
    display: flexbox;
    z-index: 1;

    position: relative;
    display: inline-block;
    width: auto;
    justify-content: center;
}

#input-field input {
    padding: 10px 20px;
    width: 85vw;
}

#input-field button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 0;

    border-color: none;
    border-radius: 10px;
    border-width: 0;
    background-color: #00000000;
    font-size: calc(var(--font-size) + 4px);

    min-width: 15%;
    cursor: pointer;

    /* box-shadow: 5px 5px 10px #cacaca,
        -5px -5px 10px #ffffff; */
}

#input-field button:active {
    box-shadow: inset 5px 5px 10px #cacaca,
        inset -5px -5px 10px #ffffff;
}


#all-tasks {
    margin: auto;
    width: 90%;
}

/* Идентификация по class */
.m-0 {
    margin: 0;
}

.neu {
    margin: 20px;
    padding: 15px;

    transition: all 0.25s ease-in-out;

    border-radius: 17px;
    background: #ebebeb;
    box-shadow: 5px 5px 10px #cacaca,
        -5px -5px 10px #ffffff;
}

.neu.m0 {
    margin: 0;
}

.h2-task-type {
    text-align: center;
    color: grey;
    margin: 7%;
}

.taskelem {
    height: 3em;
    opacity: .75;
    cursor: pointer;
    transition: height 0.2s ease-out, 
        opacity 0.2s ease-out, 
        box-shadow 0.3s ease-out;

}

.taskelem.show {
    height: 7em;
    opacity: 1;
    cursor: auto;
}

.taskelem.scale {
    transform: scale(1.1);
}


.task-keyboard {
    display: none;
    opacity: 0;
    transition: opacity .19s ease-out;
}

.task-keyboard.show {
    display: block;
    opacity: 1;
}


.task-text {
    opacity: .9;
    max-height: 6.1vh;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;

    overflow: hidden;
    transition: max-height 0.4s ease-in-out, 
        opacity 0.4s ease-out,
        font-weight 0.2s ease-in-out;
}

.task-text.show {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;

    font-weight: 500;


    max-height: 15vh;
    opacity: 1;
}

.line-through {
    text-decoration: line-through;
    font-weight: 100;
}

div.selection {
    transform: scale3d(1.1, 1.1, 1.1);
    /* border-width: 50px;
    border-color: #ff8c00;
    transform: scale(1);
    font-weight: 900; */
}

.i {
    font-weight: 900;
}

.center-container {
    text-align: center;
}